/* Style for movemyphonedata.com */

html {
    --dark-blue: #000040;
    --my-green: #138b38;
    --dark-teal: #008080;
}

body {
    font-family: 'Source Sans Pro', "Helvetica Neue", sans-serif;
    font-size: large;
    background-color: #202020;
    color: #bbb;
    margin: 0;
}

p, ul {
    margin-left: 10%;
}

ul ul {
    margin-left: auto;
}

li {
    line-height: 150%;
}

em {
    color: white;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

header {
    font-family: 'Source Code Pro', monospace;
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    color: var(--my-green);
    background-color: var(--dark-blue);
}

footer {
    font-family: 'Source Code Pro', monospace;
    position: relative;
    font-size: 150%;
    bottom: 0;
    margin: 0;
    width: 100%;
    background-color: var(--dark-blue);
    color: var(--my-green);
    text-align: right;
}

a {
    color: var(--my-green);
    text-decoration: none;
}