/* Style for movemyphonedata.com */

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #202020;
    color: #138b38;
}

h1 {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    background-color: #000040;
}